body {
    background-color: #370617;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.boxes { 
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: center;
    margin: 20px;
    display: flex;  
}

.item {
    width: 78px;
    height: 78px;
    background: #9D0208;
    color: white;
    margin: 10px;
    border-radius: 4px;
}

.item-2 {
    width: 78px;
    min-height: 78px;
    background: #9D0208;
    color: white;
    margin: 10px;
    border-radius: 4px;
}

.container {
    width: 468px;
    height: 160px;
    background: #F48C06;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    padding: 10px;
}

.container {
    justify-content: center;
    align-items: center;
}

.flex-end-center {
    justify-content: flex-end;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grow {
    flex-grow: 1;
}

.self-end {
    align-self: end;
}

.flex-end {
    align-items: flex-end;
}
